<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<script type="text/javascript" src="scripts.js"></script>
</head>
<body ng-controller="myController">

<div id="student-list">
	<!-- <li ng-repeat="student in dcClass">{{student.name}} - {{student}}</li> -->
	<li ng-repeat="student in dcClass track by $index">
		<a href="" ng-click="removeStudent($index)">{{student}}</a>
	</li>


	<form ng-submit="addStudent()">
		<input type="text" ng-model="newStudent">
		<input type="submit" value="addStudent">
	</form>
</div>

</body>
</html>